<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="stylesheet" href="css/base.css">
<!-- <script type="text/javascript" src="views/index.js">console.log(lucky())</script> -->
<head>
  <!-- <h2>
    <a href="/" style="color:black; padding-right:100px;padding-left:75px " >/ Bē /</a>
    <a href="practice" style="color:black; padding-right:90px " > Practice </a>
    <a href="diary" style="color:black; padding-right:90px " > Diary </a>
    <a href="learn" style="color:black; padding-right:90px " > Learn </a>
    <a href="meditate" style="color:black; padding-right:90px " > Meditate</a>
  </h2> -->
</head>
<section class="hero">
  <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1528717899752-3bdbfe68364c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0112e07631f4e4b068f9d02963b6405a&auto=format&fit=crop&w=1502&q=80);"></div>
  <div class="hero-content-area">
    <h1>/ Bē /</h1>
    <h3> Helping you become the best version of yourself </h3>
  </div>
  <ul class="grid">
    <a href="practice">   <img src="images/min.jpg" alt="learn" width="200" height="200"></a>
    <a href="diary">  <img src="images/glasses.jpg" alt="diary" width="200" height="200" > </a>
    <a href="learn">   <img src="images/inqu.jpg" alt="learn" width="200" height="200"></a>
    <a href="meditate">   <img src="images/thout.jpg" alt="med" width="200" height="200"></a>
    <a href="comments">   <img src="images/vo.jpg" alt="med" width="200" height="200"></a>
  </ul>
</section>
