<section class="hero">
  <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1541721600-f34ec4fb751b?ixlib=rb-0.3.5&s=84f36a2129b974ca90e9018d71f24939&auto=format&fit=crop&w=1500&q=80);"></div>
  <div class="hero-content-area">
    <h1>Be Inquisitive</h1>
    <h3>What is mental wellness and Misophonia?</h3>
    <div id="quote">
      <h3></h3>
      <button type="button" onclick="loadDoc()">Quote of the day</button>
    </div>
    <script>
    function loadDoc() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("quote").innerHTML =
          this.responseText;
        }
      };
      xhttp.open("GET", "quote.txt", true);
      xhttp.send();
    }
  </script>

</div>
</section>
<section class="pengu">
  <h3 class="title">What Is Mental Health Wellness?</h3>
  <hr>
  <p>Mental health wellness is a key component in establishing and maintaining a healthy lifestyle. Mental health wellness is just as important as physical and medical health, so it is important to learn strategies to maintain good mental health.
    The definition of mental wellness is the awareness of one’s own ability to cope with stressors of day-to-day life while maintaining the ability to function effectively when socializing, working, learning and taking care of personal health and hygiene. A person that fits the definition of mental wellness has a positive sense of wellbeing and hope, despite daily stressors and challenges. Overall, mental health wellness depends on factors, like self-acceptance, autonomy, quality of relationships, capacity for personal growth, and overall life satisfaction.
    Achieving and maintaining mental health wellness takes patience and dedication.
    It is a skill to learn how to maintain mental health, and it may be more challenging for some than for others.
    Each person’s journey toward mental health wellness will be different, depending on his or her needs, lifestyle, and personal goals.

  </p>
</section>
<section class="pengu">
  <h3 class="title">How does Misophonia Play into mental wellness?</h3>
  <p> Misophonia might affect your everyday life, if this is the case then it plays an important role in your mental wellness and how you focus. Misophonia is currently undergoing many studies and is not clear as to what it is yet, however it has been proven that Misophonia can be alleviated through therapy. While therapy is a wonderful resource many students
    do not have the financial stability to go to see a therapist furthermore, it is still being decided whether or not Misophonia should be classified as a mental disorder and many are skeptical of it. While this debate is going on no online tools have been provided for those who find it difficult to focus due to naturally occurring sounds.
    BE aims to help students that are trying to better their dislike for noises by providing basic mental wellness tools.
    These Include:

   Exposure to sounds: Virtual reality exposure is a psychological treatment that was developed to help people confront their fears. When people are fearful of something, they tend to avoid the feared objects, activities or situations. Although this avoidance might help reduce feelings of fear in the short term, over the long term it can make the fear become even worse. We hope that by providing guided sessions you can feel more at ease.
  CBT Diary Log: Cognitive behavioral therapy teaches us to become more rational. You learn to be in control of your thinking and beliefs.
Mediations: Meditation reduces stress levels and alleviates anxiety. If we can reduce stress, many health benefits follow. Knowledge of Self – Meditation enables us to have a deeper understanding of our inner self. Through meditation we can gain a better understanding of our life's purpose.


  </p>
  </section>
  <section class="pengu">
    <h3 class="title">Why should I try to change the way I think?
    </h3>
    <p> We want you to be successful in school/work and we do not want you to feel obliged to leave a study room due to some uncomfortable noise.
      We hope that by changing the way you perceive sounds  you will be able to better focus and live a better life.

      <hr>
    </section>
    <section class="pengu">
      <h3 class="title">Tips for better mental wellness
      </h3>
      <p>
        <ul style="text-align:center">
      <li>  Maintaining a healthy diet with nutritious food for your mental health wellness </li>
      <li>    Exercising regularly</li>
      <li>    Practicing meditation</li>
      <li>    Maintaining positive and healthy relationships</li>
      <li>    Taking breaks throughout the day</li>
      <li>    Setting realistic goals and expectations for yourself</li>
      <li>    Reshaping the way you think to a more positive approach</li>
      <br>
      </ul>  <hr>
      </section>
