<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Serenity</title>



      <link rel="stylesheet" href="_include/css/style.css">


</head>

<body>

  <!DOCTYPE html>
<html>
<head>
	<title>Serenity</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body background="_include/img/slider-images/image01.jpg" style="background-size:cover;background-repeat: no-repeat;">

	<div class="container">


			<div class="login-parent-container">
				<div class="login-container">
					<div class="input">
						<input class="e-mail" type="email" placeholder="Username">
					</div>
					<div class="input">
						<input class="password" type="password" placeholder="Password">
					</div>
          <div class="login-btn"><a href="index.html"style="text-decoration: none; color:white">Log In </a></div>

				</div>
			</div>
			<div class="start-container">
				<div class="start-title">Serenity</div>
				<div class="project-container">
					<div class="tell-us-more">Find inner peace</div>
				</div>
				<div class="start-btn"><a href="index.html" 	style="text-decoration: none; color:white">Get started </a></div>
			</div>
		</div>
	</div>

</body>
</html>



    <script  src="js/index.js"></script>




</body>

</html>
