<body>
  <section class="hero">
    <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1494931216633-3f436bf43829?ixlib=rb-0.3.5&s=55016974a0680e57a7b013331d790eec&auto=format&fit=crop&w=1500&q=80);"></div>
    <div class="hero-content-area">

      <h1>Your post is now in the diary section</h1>

      <h3>“Alone, we can do so little; together, we can do so much” – Helen Keller</h3>
    </section>
  </body>
